.DS_Store
_rt/

# all target dirs
target/
build/
out/
bin/
generated/
cache/

# IntelliJ.
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.metadata/
.settings/
.project
.classpath

# gradle
.gradle/
!gradle-wrapper.jar
!gradle-wrapper.properties

# Package Files #
*.jar
*.war
*.ear

# ignore all files ending with ~
*~ 
Thumbs.db

